@using HBS.Xperience.TransformableViews.Components
@model ComponentViewModel<TransformableViewContentWidgetProperties>

@{
    var cacheEnabled = !Context.Kentico().Preview().Enabled;
    try
    {
        <cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.High" expires-sliding="@TimeSpan.FromMinutes(30)" vary-by-user="true" enabled="cacheEnabled">
            <vc:transformable-view-content-widget properties="Model.Properties"></vc:transformable-view-content-widget>
            <cache-dependency cache-keys="@CacheService.GetDependenciesList()" enabled="cacheEnabled" />
        </cache>
    }
    catch (Exception ex)
    {
        if (Context.Kentico().PageBuilder().EditMode)
        {
            <div>@ex.Message</div>
        }
        else
        {
            <div>There was an error displaying the view</div>
        }
    }
}
