.icon-clickable {
    padding: 5px;
    color: darkgray;
    border-radius: 5px
}
    .icon-clickable.delete {
        color: red;
        margin-right: 5px;
    }
    .icon-clickable.add {
        color: green;
    }
    .icon-clickable:hover {
        opacity: 0.8;
        background-color: darkgray;
        color: white;
    }
    .icon-clickable.add:hover {
        background-color: green;
    }

    .icon-clickable.delete:hover {
        background-color: red;
    }

.treeview-wrapper {
    padding: 20px;
}

.views-wrapper {
    padding: 20px;
}

.grid-view-item {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    color: #333;
    cursor: pointer;
    display: flex;
    flex-direction: row
}
.grid-view-item:hover {
    background-color: lightgray;
}